In [1]:
import sqlite3
import pandas as pd

In [2]:
# Create a connection to the SQLite database
conn = sqlite3.connect('flight.db')

# Execute a query and read the results into a DataFrame
df = pd.read_sql_query("SELECT * FROM Flights", conn)

df

,origin,destination,register,flight_num,airplane,scheduled_date,scheduled_time,actual_date,actual_time,day,status1,status2,airline_icao,international,delay,ftype,miladi_scheduled,miladi_actual,id,airline
0,OIAW,OISS,NULL,IRC3829,100,1402-01-01,00:15:00,1402-01-01,23:56:00,سه شنبه,NULL,NULL,EP,0,0,arrival,2023-03-21,2023-03-21,1,آسمان
1,OISS,OIBK,NULL,IRC3804,100,1402-01-01,23:40:00,1402-01-01,23:40:00,سه شنبه,NULL,NULL,EP,0,0,departure,2023-03-21,2023-03-21,2,آسمان
2,OIYY,OIII,NULL,IRC3725,NULL,1402-01-01,23:40:00,1402-01-01,23:40:00,چهارشنبه,NULL,NULL,EP,0,0,departure,2023-03-21,2023-03-21,3,آسمان
3,OISS,OIBK,NULL,IRC3804,100,1402-01-01,23:30:00,1402-01-01,23:38:00,چهارشنبه,NULL,NULL,EP,0,0,departure,2023-03-21,2023-03-21,4,آسمان
4,OIAA,OISS,NULL,IRC3821,100,1402-01-01,00:05:00,1402-01-01,23:36:00,سه شنبه,NULL,NULL,EP,0,0,arrival,2023-03-21,2023-03-21,5,آسمان
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,OICC,OIII,EPATG,IRC625,F100,1402-01-14,00:05:00,1402-01-14,00:08:00,دو شنبه,LANDED,نشست,IRC,0,3,arrival,2023-04-03,2023-04-03,1437,آسمان
1437,OINZ,OISS,NULL,IRC3905,100,1402-01-14,00:15:00,1402-01-14,00:01:00,دوشنبه,نشست00:01,NULL,EP,0,0,arrival,2023-04-03,2023-04-03,1438,آسمان
1438,OIMM,OIII,,IRC603,B737,1402-01-14,23:00:00,1402-01-15,02:25:00,دو شنبه,Departed,پرواز كرد,IRC,0,205,departure,2023-04-03,2023-04-04,1439,آسمان
1439,OIYY,OIMM,,IRC619,B737,1402-01-14,22:10:00,1402-01-15,01:09:00,دو شنبه,LANDED,نشست,IRC,0,179,arrival,2023-04-03,2023-04-04,1440,آسمان
1440,OIAW,OIII,IRC-5779,IRC831,100,1402-01-14,23:50:00,1402-01-15,00:21:00,دو شنبه,Departed,پرواز كرد,IRC,0,31,departure,2023-04-03,2023-04-04,1441,آسمان

In [3]:
# read in the reference dataframe
ref_df = pd.read_csv('archive/airports.csv')

# define the column to use as the reference
ref_col = 'origin'

# loop through each row in the original dataframe
for index, row in df.iterrows():
    # get the value of the reference column for the current row
    ref_val = row[ref_col]
    # use the reference value to get the corresponding data from the reference dataframe
    latitude_deg = ref_df.loc[ref_df['ident'] == ref_val, 'latitude_deg'].values[0]
    longitude_deg = ref_df.loc[ref_df['ident'] == ref_val, 'longitude_deg'].values[0]
    # add the new column values to the original dataframe
    df.at[index, 'latitude_deg'] = latitude_deg
    df.at[index, 'longitude_deg'] = longitude_deg

df

,origin,destination,register,flight_num,airplane,scheduled_date,scheduled_time,actual_date,actual_time,day,...,airline_icao,international,delay,ftype,miladi_scheduled,miladi_actual,id,airline,latitude_deg,longitude_deg
0,OIAW,OISS,NULL,IRC3829,100,1402-01-01,00:15:00,1402-01-01,23:56:00,سه شنبه,...,EP,0,0,arrival,2023-03-21,2023-03-21,1,آسمان,31.337400,48.762001
1,OISS,OIBK,NULL,IRC3804,100,1402-01-01,23:40:00,1402-01-01,23:40:00,سه شنبه,...,EP,0,0,departure,2023-03-21,2023-03-21,2,آسمان,29.539200,52.589802
2,OIYY,OIII,NULL,IRC3725,NULL,1402-01-01,23:40:00,1402-01-01,23:40:00,چهارشنبه,...,EP,0,0,departure,2023-03-21,2023-03-21,3,آسمان,31.904900,54.276501
3,OISS,OIBK,NULL,IRC3804,100,1402-01-01,23:30:00,1402-01-01,23:38:00,چهارشنبه,...,EP,0,0,departure,2023-03-21,2023-03-21,4,آسمان,29.539200,52.589802
4,OIAA,OISS,NULL,IRC3821,100,1402-01-01,00:05:00,1402-01-01,23:36:00,سه شنبه,...,EP,0,0,arrival,2023-03-21,2023-03-21,5,آسمان,30.367887,48.230075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,OICC,OIII,EPATG,IRC625,F100,1402-01-14,00:05:00,1402-01-14,00:08:00,دو شنبه,...,IRC,0,3,arrival,2023-04-03,2023-04-03,1437,آسمان,34.345901,47.158100
1437,OINZ,OISS,NULL,IRC3905,100,1402-01-14,00:15:00,1402-01-14,00:01:00,دوشنبه,...,EP,0,0,arrival,2023-04-03,2023-04-03,1438,آسمان,36.644408,53.188761
1438,OIMM,OIII,,IRC603,B737,1402-01-14,23:00:00,1402-01-15,02:25:00,دو شنبه,...,IRC,0,205,departure,2023-04-03,2023-04-04,1439,آسمان,36.235199,59.640999
1439,OIYY,OIMM,,IRC619,B737,1402-01-14,22:10:00,1402-01-15,01:09:00,دو شنبه,...,IRC,0,179,arrival,2023-04-03,2023-04-04,1440,آسمان,31.904900,54.276501
1440,OIAW,OIII,IRC-5779,IRC831,100,1402-01-14,23:50:00,1402-01-15,00:21:00,دو شنبه,...,IRC,0,31,departure,2023-04-03,2023-04-04,1441,آسمان,31.337400,48.762001

In [4]:
# Convert the DataFrame to a CSV file
df.to_csv('filghts-and-airports.csv', index=True)